.account-page-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap; 
}

.account-column {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

body {
    background: linear-gradient(to bottom right, #e6f2fb, #cce4f7, #a3d3f2);
}

