.account-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 90vh;
    flex-wrap: wrap; 
}

.account-column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    flex-grow: 1;
}


