.rental-details-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

    .rental-details-card .card-img-top {
        height: 200px;
        object-fit: cover;
    }
