.bg-blue {
    background-color: #e6f2ff;
    border-radius: 20px !important;
}

h1{
    font-family: 'Arial', sans-serif;
}

.icon{
    font-size: 25px;
    margin-right: 5px;
}

.lead {
    border-bottom: 1px solid #e0e0e0;
}

