body {
    font-family: 'Poppins', sans-serif;
}

.car-admin-title{
    font-weight: 200;
    border-bottom: 1px grey solid;
}

.table.table-striped > thead > tr > th {
    background-color: #0d6efd !important;
    color: white;
    padding: 1rem;
}
